* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 80%;
    margin: auto;
}


.logo {
    font-size: 18px;
}

nav {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

nav ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: none;
    color: #e7e7e7;
    background: #262626;
    transition: 1s;
}

.container {
    width: 80%;
    padding: 5%;
    margin: auto;
}

.box {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}

body p {
    margin: 12px;
}